/* body,
html {
    background-color: black; */
    /* margin: auto;
} */


#game {
    /* background-color: black; */

    /* widthCase * 28 */
    width: 560px;
    /* HeightCase * 28 */
    height: 560px;
    display: flex;
    flex-wrap: wrap;
}

#game div {
    width: 20px;
    height: 20px;
}

/* Mur Case 1 */
#game div.mur {
    background-color: rgb(20, 20, 187);
}

/* Chemin avec point Case 0 */
#game div.point { 
    background-color: salmon;
    border-radius: 50%;
    border: black solid 7px;
    /* box-sizing: border-box; Inutile avec bootstrap */
}

/* fantome-area Case 2 */
#game div.fantome-area {
    background-color: gray;
}

/* point-puissance Case 3 */
#game div.point-puissance {
    background-color: greenyellow;
    border-radius: 50%;
    border: black solid 3px;
}

/* Vide/empty Case 4 */

/* Pac-Man */
#game div.pacman {
    background-color: yellow;
    border-radius: 50%;
    border: black solid 1px;
}

